body{
    background: #c5cbe3;
}

:root{
    font-size: 16px;
}

.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #e9e2cf;
    box-sizing: border-box;
    /*box-shadow: 1.25rem 0.9375rem 1.5625rem rgb(28 19 19) ;*/
    border-radius: 1.875rem;
    margin: auto;
    margin-top: 10rem;
    overflow: hidden;
    padding: 0.625rem;
    padding-left: 0.625rem;
    width: 17.5rem;
}

.login:hover{
    box-shadow: 1.25rem 0.9375rem 1.5625rem rgb(28 19 19) ;
}

.userbox{
    padding-left: 0.625rem;
}

.login a{
    text-decoration: none;
    padding-left: 5.625rem;
    color: black;
    font-size: 1.25rem;
}

.login a:hover{
    color: #b79922;
}

.login input{
    color: #6b6065;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.0625rem solid #000;
    outline: none;
    background: transparent;
    overflow: hidden;
}

.login label{
    position: relative;
    font-size: 1.25rem;
    color: #000;
    transition: .5;
}

.login h1{
    text-align: center;
    font-size: 2.5rem;
    color: #030303;
}
