main {
	display: flex;
	min-height: 4rem;
	background: #ffffff;
	align-items: center;
	flex-wrap: wrap;
}

#details {
	padding-right: 1rem;
	width: 60rem;
	display: flex;
	flex-wrap: wrap;
}

#intro {
	width: 48rem;
	margin: 2rem;
}

#log-in-main, #sign-in-main {
	width: 18rem;
	padding: 0.86rem;
	margin: 1rem;
}

#log-in-main > #content, #sign-in-main > #content {
	padding-bottom: 1rem;
}

#heading {
	font-size: 3rem;
}

.image-wrapper {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right:0;
	border: #0ff0f0;
	width: 0.5rem;
	height: 2rem;
}
