main {
	display: flex;
	min-height: 4rem;
	background: #ffffff;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}

#details {
	padding-right: 1rem;
	max-width: 60rem;
	display: flex;
	flex-wrap: wrap;
}

#intro {
	width: 48rem;
	margin: 1rem;
}

#log-in-main, #sign-in-main {
	width: 18rem;
	padding: 0.82rem;
	margin: 1rem;
}

#log-in-main > #content, #sign-in-main > #content {
	padding-bottom: 1rem;
}

#heading {
	font-size: 3rem;
}

.image-wrapper {
	width: 18rem;
}